body {  
	font-family: Helvetica, sans-serif;
	height: 100%;
	margin: 0;

	width: 100%;
	background: wheat;
}

section {
    box-sizing:content-box;
    box-sizing: inherit;
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

header {
	display:block;
	box-sizing:content-box;
	line-height:29.88px;
	
}

h1 {
	font-size: 32px;
	font-weight:600;
	line-height:31px;
	margin-bottom:5px;
	margin-top:20.77px;
	color: #4d2f00;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}


.hero {
	padding:100px 0;
	margin: 0px;
	font-family: 'Trebuchet MS', 'Helvetica';
}

ul {
  padding: 0px;
  font-family: Favorit Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 28px;
  font-feature-settings: kern;
  line-height:46.48px;
  text-align:left;
  list-style-type: none
}

p {
	color: #4d2f00;
	font-size:15px;
	font-weight:200;
	line-height:29.88px;
	text-rendering:optimizelegibility;
}

li {
	box-sizing: inherit;
	list-style-type: none
}

.site-nav--forward:before {
    content: "\2192  ";
    position: relative;
    top: -2px;
    box-sizing:content-box;
}

.hero a {
	color: #4d2f00;
	font-size: 20px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
