body {  
	font-family: Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background: wheat;
}

h1 {
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}


.hero {
	padding:100px 0;
	margin: 0px;
	font-family: 'Trebuchet MS', 'Helvetica';
}

ul {
  padding: 50px;
  font-family: Favorit Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 28px;
  font-feature-settings: kern;
  line-height:46.48px;
  text-align:left;
  list-style-type: none
}

p {
	color: #ffffff;
	font-size: 2em;
}

li {
	box-sizing: inherit;
	list-style-type: none
}

.site-nav--forward:before {
    content: "\2192  ";
    position: relative;
    top: -2px;
}

.hero a {
	color: #4d2f00;
	font-size: 20px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
